body{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
    color: #1c2020;
    background-color: #f3f5f4;
}

main{
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

footer{
    margin-top: 3rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 1.8rem;
}

h2{
    font-size: 1.6rem;
    margin-bottom: 10px;
    border-bottom: 1px solid #1c2020;
}

h4{
    font-size: 1.3rem;
    margin-bottom: 10px;
}

a{
    color: #49c5b3;
}

.introduction{
    margin-top:30px;
    display: flex;
    flex-direction: row;
}


.introduction .portrait{
    background-image: url("./8006865.jpg");
    background-size: 250px;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    border: 1px solid #49c5b3;
}


.introduction .biography-group{
    padding: 30px;
    display: flex;
    flex-direction: column-reverse;
}

.works{
    margin-top:40px;
}

.contributions{
    margin-top:50px;
}